// APPEARES ONLY FOR MEMBERS WHO HAVE THE AUTORISATION


// LINK ADMINISTRATION

.show_admin
{
    background-color : $blue;
    color : $white;
    text-decoration: none;
    padding : 10px;
    margin-right:10px ;
    font-size: 100%;
    float: left;
    margin-bottom: 10px;

    //MEDIA QUERIES FOR PC
    @media screen and (max-width: 1100px)
    {
        font-size: 10pt;
    }

    //MEDIA QUERIES FOR PC AND IPAD
    @media screen and (max-width: 800px)
    {
        font-size: 55%;
        padding: 5px;
    }

    //MEDIA QUERIES FOR PHONE
    @media all and (max-device-width : 480px )
    {
        padding : 10px;
        float: left;
        margin:1% ;
        font-size: 30pt;
        border:none;
        border-radius:2px;
        box-shadow:2px 2px 6px #999;
        margin-top: 70px;
    }

}

.show_admin:hover {
    background-color: $orange;
}

// BUTTON CREATION EVENT

.create {
    background-color: $blue;
    color: $white;
    text-decoration: none;
    font-size: 120%;
    padding: 10px;
    margin: 1% 1%;
    float: right;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 6px #999;

    //MEDIA QUERIES FOR PC
    @media screen and (max-width: 1100px)
    {
        float: left;
        margin:1% 26%;
        font-size: 100%;
    }

    //MEDIA QUERIES FOR PC AND IPAD
    @media screen and (max-width: 800px) {
        float: left;
        margin: 1% 30%;
    }

    //MEDIA QUERIES FOR PHONE
    @media all and (max-device-width : 480px )
    {
        float: left;
        margin:1% 30%;
        font-size: 26pt;
    }
}

.create:hover {
    background-color: $orange;
}

.masked
{
    text-align: center;
    color: red;
}


