.logo_footer
{
    z-index: 92;
    background-color: white;
    width: 15%;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
}

.footer_cesi
{

    height: 40px;
    width: 95px;
    padding-right : 5%;

}
.footer_bde
{
    width: 20%;

}

.footer_link
{
    text-decoration: none;
    color: white;
    margin: 5%;
    text-align: center;
}

@media only screen and (max-width: 1100px)
{
    .logo_footer
    {
        flex-direction: column;
    }


    .footer_cesi
    {
        width:60px;
        height: 25px;
    }

    .link_nav
    {
        height: 66px;
    }
}

@media all and (max-device-width : 480px )
{
    footer
    {
        max-height: 160px;
    }

    .footer_link
    {
        padding: 0;
        font-size:20pt;

        margin: 0 20px;
        margin-bottom: 15px;
    }


    .footer_cesi
    {
        width: 140px;
        height: 55px;
        margin-bottom: 10px;

    }

    .footer_bde
    {
        width:55px;
    }

    .logo_footer
    {
        flex-direction: column ;
        width:230px;
        height: 160px;

    }
}
