@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

html
{
    height:100%;
}

body{
    overflow-y: hidden;
    min-height:100%;
    position: relative;
}


.creation
{
    margin-left: 16%;
    margin-top: 66px;
}

.t1
{
    margin-top: 10px;
    color : $black;
    text-align: center;
    font-size: 260%;
    font-weight : normal;

}

.label

{
    font-size: 20pt;
}

input, textarea
{
    font-size: 15pt;
    margin: 10px;
    border: 2px  solid $blue;
    border-radius:2px;
    color: $black;
    background-color:#FFD88F;
}

button
{
    font-size: 18pt;
    border:none;
    background-color: $blue;
    padding:6px;
    border-radius:2px;
    box-shadow:2px 2px 6px #999;
    color: $white;
    float :left;
    margin-top: 10px;
    margin-bottom: 80px;
    margin-right: 1%;

}

button:hover
{
    background-color: $orange;
}

.choice
{
    display: flex;
    justify-content: space-between;
}

//MEDIA QUERIES FOR PHONE

@media all and (max-device-width : 480px )
{
    .creation
    {
        margin-left: 0;
        margin-top:160px ;
    }

    .create
    {
        display: flex;
        flex-direction: column;

    }

    .label
    {
        font-size: 36pt;
    }

    .t1
    {
        font-size: 46pt;
    }

    input, textarea
    {
        font-size: 36pt;
        border: 5px solid $blue;
    }

    button
    {
        font-size: 46pt;
        padding: 20px 50px;
        margin-bottom: 180px;
        margin-top: 50px;
        margin-left: 1%;
    }
}
