@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body{ overflow-y: hidden}

// BLUE BAR OF SEPARATION

.blue_bar
{
    background-color: $blue;
    width: 100%;
    height: 10px;
}


// WELCOME ASIDE

.welcome
{
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-top: 66px;
}

.welcome_img
{
    width: 100vw;
    opacity: 0.6;
}

.presentation
{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;

}

.logo
{
    width: 50%;
    z-index: 8;
}

.titre
{
    font-size: 36pt;
    color : $black;
    text-align: center;
    font-weight : bold;


}

// EVENTS AND SHOP LINK


.welcome_link
{
    display: flex;
    justify-content: center;
    margin-left: 15%;
}

.show
{
    position: absolute;
    width: 450px;
    font-size: 36pt;
    text-align: center;
    background-color: $blue;
    font-weight : normal;
    margin-top : 10%;

}

.link
{
    text-decoration: none;
    color : $white;
}


//MEDIA QUERIES FOR PC AND IPAD

/*@media screen and (max-width: 1100px)
{
    .presentation
    {
        width: 20%;
        min-width: 150px ;
    }

    .titre
    {
        font-size: 120%;
    }

    .show
    {
        width: 20%;
        min-width: 180px;
        font-size:120%;
    }
}*/

//MEDIA QUERIES FOR PHONE

@media all and (max-device-width : 480px )
{
    .blue_bar
    {
        height:30px
    }

    .welcome
    {
        margin-top: 160px;
        margin-left: 210px;

    }

    .titre
    {

        font-size: 42pt;
        color: red;
    }

    .show
    {
        font-size: 42pt;
        width: 400px;
    }

    /*.welcome_link
    {
        height: 270px;
    }*/

    footer
    {
    height: 160px;
    }


}

/*@media all and (device-width: 812px) and (device-height: 375px)
{
    .welcome_img
    {
        height: 800px;
    }
}*/
