@import 'general';
@import 'welcome';
@import 'blue_bar';


// WELCOME ASIDE


.presentation
{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;

    //MEDIA QUERIES FOR PC AND IPAD
    @media screen and (max-width: 600px)
    {
        width: 20%;
        min-width: 150px ;
    }
}

.logo
{
    width: 50%;
    z-index: 8;
}

.titre
{
    font-size: 36pt;
    color : $black;
    text-align: center;
    font-weight : bold;

    //MEDIA QUERIES FOR PC AND IPAD
    @media screen and (max-width: 600px)
    {
        font-size: 120%;
    }
}


// EVENTS AND SHOP LINK


.welcome_link
{
    display: flex;
    justify-content: center;
    margin-left: 15%;
}

.show
{
    position: absolute;
    width: 450px;
    font-size: 36pt;
    text-align: center;
    background-color: $blue;
    font-weight : normal;
    margin-top : 10%;

    //MEDIA QUERIES FOR PC AND IPAD
    @media screen and (max-width: 600px)
    {
        width: 20%;
        min-width: 180px;
        font-size:120%;
    }
}

.link
{
    text-decoration: none;
    color : $white;
}


//MEDIA QUERIES FOR PHONE

@media all and (max-device-width : 480px )
{
    .welcome_link
    {
        margin:0;
    }

    .titre
    {

        font-size: 42pt;
    }

    .show
    {
        font-size: 42pt;
        width: 400px;

    }

    footer
    {
    height: 160px;
    }
}
