@import 'general';
@import 'welcome';
@import 'blue_bar';
@import 'admin';

// ACTUAL EVENTS & PAST EVENTS

.events
{
    margin-left: 15%
}

.t1
{
    color : $black;
    text-align: center;
    font-size: 180%;
    font-weight : normal;

    //MEDIA QUERIES FOR PC AND IPAD
    @media screen and (max-width: 800px)
    {
        font-size:20pt;
    }

}

.t2
{
    font-size: 160%;
    text-align: left;
    color : $black;
    font-weight : normal;
    margin-left: 1%;

    //MEDIA QUERIES FOR PC AND IPAD
    @media screen and (max-width: 800px)
    {
        font-size: 15pt;
    }
}

// FOR EACH EVENT

.event
{
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
.past_events
{
    margin-bottom: 80px;
}

.img_event
{
    width: 600px;
    margin : 20px;

    //MEDIA QUERIES FOR PC AND IPAD
    @media screen and (max-width: 800px)
    {
        width:400px;
    }
}

.texte
{
    width: 150%;

    //MEDIA QUERIES FOR PC AND IPAD
    @media screen and (max-width: 800px)
    {
        width: 400px;
    }
}

.event_date
{
    color: $orange;
    font-size: 140%;
    font-weight: bold;
}

.name
{
    color: $orange;
    font-size: 150%;
    text-transform: uppercase;
}

.location, .description
{
    color: $black;
    font-size: 120%;
}

// LINKS


.show {
    @include bg_blue;
    @include shadow;
    padding : 10px;
    margin-right:10px ;
    margin-bottom: 80px;
    float: right;
    font-size: 120%;


}

.show:hover {
    background-color: $orange;
}

//MEDIA QUERIES FOR PC AND IPAD

@media screen and (max-width: 1100px)
{
    .event
    {

        flex-direction :column;
        align-items: center;

    }

    .img_event
    {
        width: 550px;
    }

    .texte
    {
        width: 550px;
    }

}

//MEDIA QUERIES FOR PHONE

@media all and (max-device-width : 480px )
{
    .events
    {
        margin-left: 0;
    }


    .event
    {

        flex-direction :column;
        align-items: center;

    }


    .t1
    {
        font-size: 30pt;
    }

    .t2
    {
        margin-left: 5px;
        font-size: 24pt;
        text-align: center;
    }

    .img_event
    {
        width: 550px;
    }

    .texte
    {
        width: 550px;
    }

    .event_date
    {
        font-size: 24pt;
    }

    .location, .description
    {
        font-size: 23pt;
    }

    .name{
        font-size: 24pt;
    }

    .show
    {
        padding: 2% 10%;
        font-size: 27pt;
        margin-bottom: 180px;
    }
}
