@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

body{ overflow-y: hidden}

// BLUE BAR OF SEPARATION

.blue_bar
{
    background-color: $blue;
    width: 6000px;
    height: 10px;

}


// WELCOME ASIDE

.welcome
{
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-top: 66px;
}

.welcome_img
{
    width: 100vw;
    opacity: 0.6;
}

.welcome_t
{
    font-size: 36pt;
    background-color: $blue;
    color : $white;
    text-align: center;
    font-weight : normal;
    width: 450px;
    position: absolute;
    margin-top : 10%;

}

// ACTUAL EVENTS & PAST EVENTS

.events
{
    margin-left: 15%
}

.t1
{
    color : $black;
    text-align: center;
    font-size: 180%;
    font-weight : normal;

}

.t2
{
    font-size: 160%;
    text-align: left;
    color : $black;
    font-weight : normal;
}

.event_date
{
    color: $black;
    font-size: 140%;
    font-weight: normal;
}


.event
{
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
.texte
{
    width: 150%;
}

.event_date
{
    color: $orange;
    font-weight: bold;
}

.location, .description
{
    color: $black;
    font-size: 120%;
}


.name
{
    color: $orange;
    font-size: 150%;
    text-transform: uppercase;
}


.show, .show_admin
{
    background-color : $blue;
    color : $white;
    text-decoration: none;
    font-size: 120%;
    padding : 10px;
    float: right;
    margin-right:10px ;
    margin-bottom: 10px;

}

.show
{
    border:none;
    border-radius:2px;
    box-shadow:2px 2px 6px #999;
}

.show_admin
{
    font-size: 100%;
    float: left;
}

.img_event
{
   width: 600px;
   margin : 20px;
}

// CREATE EVENT

.create
{
    background-color : $blue;
    color : $white;
    text-decoration: none;
    font-size: 120%;
    padding : 10px;
    margin: 15%;
}
//MEDIA QUERIES FOR PC AND IPAD

@media screen and (max-width: 1100px)
{



    .event
    {

        flex-direction :column;
        align-items: center;

    }

    .img_event
    {
        width: 550px;
    }

    .texte
    {
        width: 550px;
    }
    .show_admin
    {
        font-size: 10pt;
    }

}

//MEDIA QUERIES FOR PC AND IPAD
@media screen and (max-width: 800px)
{
    .welcome_t
    {
        width: 20%;
        min-width: 180px;
        font-size:120%;
    }


    .show_admin
    {
        font-size: 55%;
        padding: 5px;

    }

    .t1
    {
        font-size:20pt;
    }

    .t2
    {
        font-size: 15pt;
    }

    .img_event
    {
        width:400px;
    }

    .texte
    {
        width: 400px;
    }


}

//MEDIA QUERIES FOR PHONE

@media all and (max-device-width : 480px )
{
    .blue_bar
    {
        height: 30px;
    }

    .welcome
    {
        margin-top: 160px;
        margin-left: 0;
    }

    .events
    {
        margin-left: 0;
    }

    .welcome_t
    {
        font-size: 25pt;
        width: 350px;
    }

    .event
    {

        flex-direction :column;
        align-items: center;

    }

    .welcome_t
    {
        font-size: 42pt;
        width: 450px;
    }

    .t1
    {
        font-size: 30pt;
    }

    .t2
    {
        margin-left: 5px;
        font-size: 24pt;
        text-align: center;
    }

    .img_event
    {
        width: 550px;
    }

    .texte
    {
        width: 550px;
    }

    .event_date
    {
        font-size: 24pt;
    }

    .location, .description
    {
        font-size: 23pt;
    }

    .name{
        font-size: 24pt;
    }

    .show
    {
        font-size: 23pt;
    }

    .show_admin
    {
        font-size: 19pt;
    }


}

