@import 'general';

.users
{
    margin-left: 16%;
    margin-top: 66px;
    margin-bottom: 80px;
}

.t1
{
    margin-top: 10px;
    color : $black;
    text-align: center;
    font-size: 260%;
    font-weight : normal;
}
