@import 'general';
@import 'comments';

.events
{
    margin-top: 76px;
    margin-left: 16%;
}
.img_event
{
    width: 600px;
    margin : 20px;
}

.t1
{
    color : $black;
    text-align: center;
    font-size: 180%;
    font-weight : normal;

}

.t2
{
    font-size: 160%;
    text-align: left;
    color : $black;
    font-weight : normal;
}


.event
{
    display: flex;
    justify-content: center;
    align-items: center;


}
.texte
{
    width: 160%;
}

.event_date
{
    color: $orange;
    font-weight: bold;
    font-size: 20pt;
    margin: 10px;
    margin-left: 20px;

}

.location, .description
{
    color: $black;
    font-size: 18pt;
}

.location
{
    margin: 0;
    margin-left: 20px;

}

.name
{
    color: $orange;
    font-size: 36pt;
    text-transform: uppercase;
    margin: 10px;
    margin-left: 20px;
    top:66px;
}

.price
{
    color: $black;
    font-size: 18pt;
    margin:0;
    margin-left: 20px;
    width: 600px;
    text-align: center;

}
.show
{
    @include bg_blue;
    font-size: 120%;
    padding : 10px;
    float: right;
    margin-right:10px ;
    margin-bottom: 80px;
    border:none;
    border-radius:2px;
    box-shadow:2px 2px 6px #999;

}

.show:hover
{
    background-color: $orange;
}

.buttons_like
{
    margin-left: 20px;
    margin-right: 10px;
    width: 600px;
    text-align: center;
    margin-bottom: 5px;
}

.like
{
    text-decoration: none;
    color: $black;
    font-size: 18pt;
}



button
{
    @include bg_blue;
    @include shadow;
    font-size: 120%;
    padding:6px;
    border-radius:2px;
    box-shadow:2px 2px 6px #999;
    margin-right: 10px;

}

button:hover
{
    background-color: $orange;
}

.adminevents
{
    display: flex;
    justify-content: space-between;
    margin-left: 16%;
}

.action
{
    margin-left: 20px;
    margin-right: 10px;
}

.participate
{
    display: flex;
    justify-content: flex-end;
    font-size: 150%;
}


//MEDIA QUERIES FOR PC AND IPAD


@media screen and (max-width: 1100px)
{
    .event
    {

        flex-direction :column;
        align-items: center;

    }

    .name, .description, .location, .event_date
    {
        text-align: center;
    }

    .img_event
    {
        width: 550px;
        margin-bottom: 0;
        border-bottom: $blue 10px solid;
    }

    .texte
    {
        width: 550px;
        /*border: 3px orange solid;
        padding: 5px*/
        border-bottom: $blue 10px solid;
    }

    .price
    {
        font-size: 16pt;
        margin: 10px 0 10px 0;
        width:100%;

    }

    .buttons_like
    {
        width: 100%;
        margin: 10px 0 10px 0;
    }

    .like
    {
        font-size: 18pt;
    }

    button
    {
        font-size: 18pt;
        border:none;
        background-color: $blue;
        padding:6px;
        border-radius:2px;
        box-shadow:2px 2px 6px #999;
        color: $white;

    }

    .show
    {
        float:right;
        margin-bottom: 80px;
        margin-right: 25%;
    }

    .adminevents
    {
        justify-content: space-around;
    }

    .adminevents > a
    {
        margin-right: 0;
    }

    .action
    {
        height:100%;
    }

}


//MEDIA QUERIES FOR PC AND IPAD
@media screen and (max-width: 800px)
{
    .img_event
    {
        width:400px;
    }

    .texte
    {
        width: 400px;
    }
    .show
    {
        float:right;
        margin-bottom: 80px;
        margin-right: 12%;
    }

    .show_admin {
        font-size: 55%;
        padding: 5px;

    }

    .price {
        font-size: 15pt;
    }

    button {
        font-size: 33pt;
    }

    .adminevents {
        justify-content: space-around;
        margin-left: 0;
    }

    .adminevents > a {
            margin-left: 0;
    }
    }

//MEDIA QUERIES FOR PHONE

@media all and (max-device-width : 480px )
{

    .events
    {
        margin-left: 0;
        margin-top: 220px;
    }

    .event
    {

        flex-direction :column;
        align-items: center;

    }

    .img_event
    {
        width: 550px;
        border-bottom: 30px solid $blue;
    }

    .texte
    {
        width: 550px;
        border-bottom: 30px solid $blue;
    }

    .event_date
    {
        font-size: 34pt;
    }

    .location, .description
    {
        font-size: 33pt;
        margin:30px;
    }

    .name {
        font-size: 44pt;
        margin:40px;

    }

    .like {
        font-size: 33pt;
        margin: 0;
    }

    .show {
        font-size: 30pt;
        float: left;
        margin: 1% 1%;
        text-align: center;
        margin-bottom: 180px;
    }

    button
    {
        font-size: 33pt;
    }

    .description
    {
        text-align: justify;
    }

    .price
    {
        font-size: 30pt;
    }

}


