/*$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
html {
  height: 100%; }

body {
  overflow-y: hidden;
  min-height: 100%;
  position: relative; }

.welcome {
  display: flex;
  justify-content: center;
  margin-left: 15%;
  margin-top: 66px; }
  @media all and (max-device-width: 480px) {
    .welcome {
      margin: 0;
      margin-top: 160px;
      width: 100%; } }

.welcome_img {
  width: 100vw;
  opacity: 0.6; }

.welcome_t {
  background-color: #5D89DA;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 36pt;
  text-align: center;
  font-weight: normal;
  width: 450px;
  position: absolute;
  margin-top: 10%; }
  @media screen and (max-width: 800px) {
    .welcome_t {
      width: 20%;
      min-width: 180px;
      font-size: 120%; } }
  @media all and (max-device-width: 480px) {
    .welcome_t {
      font-size: 42pt;
      width: 450px; } }

.show_admin {
  background-color: #5D89DA;
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
  font-size: 100%;
  float: left;
  margin-bottom: 10px; }
  @media screen and (max-width: 1100px) {
    .show_admin {
      font-size: 10pt; } }
  @media screen and (max-width: 800px) {
    .show_admin {
      font-size: 55%;
      padding: 5px; } }
  @media all and (max-device-width: 480px) {
    .show_admin {
      padding: 10px;
      float: left;
      margin: 1%;
      font-size: 30pt;
      border: none;
      border-radius: 2px;
      box-shadow: 2px 2px 6px #999;
      margin-top: 70px; } }

.show_admin:hover {
  background-color: #FFC252; }

.create {
  background-color: #5D89DA;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 120%;
  padding: 10px;
  margin: 1% 1%;
  float: right;
  border: none;
  border-radius: 2px;
  box-shadow: 2px 2px 6px #999; }
  @media screen and (max-width: 1100px) {
    .create {
      float: left;
      margin: 1% 26%;
      font-size: 100%; } }
  @media screen and (max-width: 800px) {
    .create {
      float: left;
      margin: 1% 30%; } }
  @media all and (max-device-width: 480px) {
    .create {
      float: left;
      margin: 1% 30%;
      font-size: 26pt; } }

.create:hover {
  background-color: #FFC252; }

.welcome_t {
  background-color: #5D89DA;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 36pt;
  text-align: center;
  font-weight: normal;
  width: 450px;
  position: absolute;
  margin-top: 10%; }
  @media screen and (max-width: 800px) {
    .welcome_t {
      width: 20%;
      min-width: 180px;
      font-size: 120%; } }

/* CAROUSEL */
.carousel_container {
  width: 85%;
  float: right;
  margin-top: 100px;
  margin-bottom: 100px; }
  @media all and (max-device-width: 480px) {
    .carousel_container {
      float: none;
      width: 100%; } }

.carousel_title {
  width: auto;
  text-align: center;
  border-bottom: 3px solid #f7b731;
  font-weight: 900;
  font-size: 40px;
  color: #333;
  margin: auto; }

#carouselExemple {
  width: 40%;
  margin: 0 auto; }

.carousel-item img {
  width: 100%;
  height: auto;
  margin-top: 50px; }

.carousel_title_container {
  width: 500px;
  margin: auto; }

/* CAROUSEL */
/* ARTICLES */
.articles {
  width: 100%;
  height: 80px; }
  @media all and (max-device-width: 480px) {
    .articles {
      float: none;
      height: 100%;
      margin-bottom: 180px; } }

.container_articles {
  width: 85%;
  float: right;
  margin-bottom: 80px; }
  @media screen and (max-width: 800px) {
    .container_articles {
      margin-bottom: auto; } }
  @media all and (max-device-width: 480px) {
    .container_articles {
      width: 100%;
      float: none;
      margin-bottom: 180px; } }

.articles_title_container {
  width: 500px;
  margin: auto; }

.articles_title {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  color: #333;
  border-bottom: 3px solid #f7b731;
  margin: auto;
  width: auto; }

.articles_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 40px;
  flex-wrap: wrap;
  margin-bottom: 40px; }

.article {
  width: 30%;
  height: 400px;
  margin: 10px;
  border-radius: 5px;
  background-size: cover;
  cursor: pointer;
  overflow: hidden; }

.article:hover .article_icon {
  transform: translateY(0); }

.article_icon {
  z-index: 10;
  color: #ffffff;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
  height: 100%;
  width: 100%;
  font-size: 70px;
  transform: translateY(100%); }

@media only screen and (max-width: 1200px) {
  .articles_items {
    justify-content: center; }

  .article {
    width: 400px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; }

  /* ARTICLES */ }

/*# sourceMappingURL=index_shop.css.map */
