.nav_left {
  background-color: black;
  top: 66px;
  width: 15%;
  height: 100%;
  z-index: 9;
  position: fixed; }
  @media all and (max-device-width: 480px) {
    .nav_left {
      width: 0; } }

.logo_cesi_ingenieur {
  background-color: white;
  width: 80%;
  z-index: 23;
  top: 66px;
  padding: 10%; }

.logo_footer {
  z-index: 92;
  background-color: white;
  width: 15%;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center; }

.link_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%; }

.footer_cesi {
  height: 40px;
  width: 95px;
  padding-right: 5%; }

.footer_bde {
  width: 20%; }

.footer_link {
  text-decoration: none;
  color: white;
  margin: 5%;
  text-align: center; }

@media only screen and (max-width: 1100px) {
  .logo_footer {
    flex-direction: column; }

  .footer_cesi {
    width: 60px;
    height: 25px; }

  .link_nav {
    height: 66px; } }
@media all and (max-device-width: 480px) {
  footer {
    max-height: 160px; }

  .footer_link {
    padding: 0;
    font-size: 20pt;
    margin: 0 20px;
    margin-bottom: 15px; }

  .footer_cesi {
    width: 140px;
    height: 55px;
    margin-bottom: 10px; }

  .footer_bde {
    width: 55px; }

  .logo_footer {
    flex-direction: column;
    width: 230px;
    height: 160px; } }
.menu {
  background: black;
  width: 100%;
  height: 66px;
  line-height: 66px;
  position: fixed;
  z-index: 10; }

.bde {
  margin: 0;
  padding: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 35px;
  letter-spacing: 1px;
  z-index: 99;
  text-decoration: none; }

.cesi {
  max-height: 75px;
  max-width: 75px;
  float: left;
  top: 0; }

.logocesi {
  width: 65px;
  height: 65px; }

.m-left {
  float: left;
  /*height: 66px;*/ }

.m-right {
  float: right; }

.m-link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  margin: 0 15px;
  border-bottom: 3px solid transparent;
  height: 64px;
  display: flex; }

.m-link:hover {
  border-color: white;
  transition: 0.2s ease-in-out; }

.m-nav-toggle {
  width: 40px;
  height: 66px;
  display: none;
  align-items: center;
  float: right;
  cursor: pointer; }

.link_nav {
  display: flex;
  flex-wrap: wrap; }

.basket, .login, .co {
  width: 35px;
  height: 35px;
  margin-top: 12px;
  margin-right: 5px; }

span.m-toggle-icon, span.m-toggle-icon:before, span.m-toggle-icon:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: all 0.3s ease-in-out;
  position: relative; }

span.m-toggle-icon:before {
  top: 12px; }

span.m-toggle-icon:after {
  top: -14px; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 66px; }

@media only screen and (max-width: 1100px) {
  .m-right {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 72px;
    background: black;
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
    z-index: -1; }

  .md-form {
    margin-top: 5px;
    margin-left: 5px; }

  .m-link {
    display: flex;
    text-align: center;
    padding: 0;
    margin: 15px 20px;
    height: 55px;
    width: 200px;
    justify-content: center;
    align-items: center; }

  .basket, .login, .co {
    margin-top: 0;
    margin-right: 10px; }

  .m-nav-toggle {
    display: flex; } }
.m-right.is-open {
  transform: translateX(0);
  top: 65px; }

.m-nav-toggle.is-open span.m-toggle-icon {
  background: transparent; }

.m-nav-toggle.is-open span.m-toggle-icon:before, .m-nav-toggle.is-open span.m-toggle-icon:after {
  transform-origin: center;
  transform: rotate(45deg);
  top: 0; }

.m-nav-toggle.is-open span.m-toggle-icon:after {
  transform: rotate(-45deg); }

.span.searchbar {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px; }

.md-form {
  float: left; }

/*MEDIA QUERIES FOR PHONE*/
@media all and (max-device-width: 480px) {
  /*NAV BAR*/
  .menu {
    height: 160px;
    line-height: 160px; }

  .m-left {
    height: 160px; }

  .bde {
    font-size: 46pt; }

  .cesi {
    max-width: 150px;
    max-height: 150px;
    margin: 0 20px 0 0; }

  .logocesi {
    width: 150px;
    height: 150px; }

  .m-nav-toggle {
    height: 160px;
    width: 90px; }

  .md-form {
    margin-left: 40%; }

  .m-right {
    line-height: 0; }

  .m-right.is-open {
    height: 480px;
    top: 158px;
    line-height: 160px; }

  .m-link {
    height: 160px;
    font-size: 22pt; }

  .link_nav {
    height: 160px;
    flex-direction: column;
    margin: 0; }

  .m-link {
    margin: 0;
    width: 400px; }

  .basket, .login, .co {
    height: 60px;
    width: 60px; } }

/*# sourceMappingURL=nav_bar.css.map */
