/*$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;*/
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
html {
  height: 100%; }

body {
  overflow-y: hidden;
  min-height: 100%;
  position: relative; }

.events {
  margin-top: 76px;
  margin-left: 16%; }

.img_event {
  width: 600px;
  margin: 20px; }

.t1 {
  color: #000000;
  text-align: center;
  font-size: 180%;
  font-weight: normal; }

.t2 {
  font-size: 160%;
  text-align: left;
  color: #000000;
  font-weight: normal; }

.event_date {
  color: #000000;
  font-size: 140%;
  font-weight: normal; }

.event {
  display: flex;
  justify-content: center;
  align-items: center; }

.texte {
  width: 160%; }

.event_date {
  color: #FFC252;
  font-weight: bold;
  font-size: 20pt;
  margin: 10px;
  margin-left: 20px; }

.location, .description {
  color: #000000;
  font-size: 18pt; }

.location {
  margin: 0;
  margin-left: 20px; }

.name {
  color: #FFC252;
  font-size: 36pt;
  text-transform: uppercase;
  margin: 10px;
  margin-left: 20px;
  top: 66px; }

.price {
  color: #000000;
  font-size: 18pt;
  margin: 0;
  margin-left: 20px;
  width: 600px;
  text-align: center; }

.show {
  background-color: #5D89DA;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 120%;
  padding: 10px;
  float: right;
  margin-right: 10px;
  margin-bottom: 80px;
  border: none;
  border-radius: 2px;
  box-shadow: 2px 2px 6px #999; }

.buttons_action {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 10px; }

.like {
  margin-left: 16%;
  text-decoration: none;
  color: #000000;
  font-size: 18pt; }

button {
  font-size: 18pt;
  border: none;
  background-color: #5D89DA;
  padding: 6px;
  border-radius: 2px;
  box-shadow: 2px 2px 6px #999;
  color: #FFFFFF; }

button:hover {
  background-color: #FFC252; }

.adminevents {
  display: flex;
  justify-content: space-between;
  margin-left: 16%; }

@media screen and (max-width: 1100px) {
  .event {
    flex-direction: column;
    align-items: center; }

  .name, .description, .location, .event_date {
    text-align: center; }

  .img_event {
    width: 550px;
    margin-bottom: 0;
    border-bottom: #5D89DA 10px solid; }

  .texte {
    width: 550px;
    /*border: 3px orange solid;
    padding: 5px*/
    border-bottom: #5D89DA 10px solid; }

  .price {
    font-size: 16pt;
    margin: 10px 0 10px 0;
    width: 100%; }

  .buttons_action {
    display: flex;
    justify-content: space-evenly; }

  .like {
    margin-left: 16%;
    text-decoration: none;
    color: #000000;
    font-size: 18pt; }

  button {
    font-size: 18pt;
    border: none;
    background-color: #5D89DA;
    padding: 6px;
    border-radius: 2px;
    box-shadow: 2px 2px 6px #999;
    color: #FFFFFF; }

  .show {
    float: right;
    margin-bottom: 80px;
    margin-right: 25%; }

  .adminevents {
    justify-content: space-around; }

  .adminevents > a {
    margin-right: 0; } }
@media screen and (max-width: 800px) {
  .img_event {
    width: 400px; }

  .texte {
    width: 400px; }

  .show {
    float: right;
    margin-bottom: 80px;
    margin-right: 12%; } }
@media all and (max-device-width: 480px) {
  .events {
    margin-left: 0;
    margin-top: 220px; }

  .event {
    flex-direction: column;
    align-items: center; }

  .img_event {
    width: 550px;
    border-bottom: 30px solid #5D89DA; }

  .texte {
    width: 550px;
    border-bottom: 30px solid #5D89DA; }

  .event_date {
    font-size: 34pt; }

  .location, .description {
    font-size: 33pt;
    margin: 30px; }

  .name {
    font-size: 44pt;
    margin: 40px; }

  .like {
    font-size: 33pt;
    margin: 0; }

  .show {
    font-size: 30pt;
    /*margin-right: 130px;*/
    float: left;
    margin: 3% 30%;
    text-align: center;
    margin-bottom: 180px; }

  .price {
    font-size: 15pt; }

  button {
    font-size: 33pt; }

  .adminevents {
    justify-content: space-around;
    margin-left: 0; }

  .adminevents > a {
    margin-left: 0; } }

/*# sourceMappingURL=show.css.map */
