.articles {
    text-align: center;
    padding-top: 30px;
}

.articles_title {
    font-size: 30px;
    text-align: center;
    color: #333;
    border-bottom: 3px solid #f7b731;
    display: inline;
}

.articles_items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
}

.article {
    width: 25%;
    height: 200px;
    background: red;
    border-radius: 5px;
}